DATABASE_URL=postgresql://user:password@localhost:5433/payment_checkout
PAYMENT_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
PAYMENT_PUBLIC_KEY=pub_stagtest_xxx
PAYMENT_PRIVATE_KEY=prv_stagtest_xxx
PAYMENT_INTEGRITY_SECRET=stagtest_integrity_xxx
PAYMENT_EVENTS_KEY=stagtest_events_xxx
PORT=3000